@import url('https://fonts.googleapis.com/css2?family=Anton&family=Beau+Rivage&family=Bevan&family=Gruppo&family=Kanit&family=League+Gothic&family=Raleway:ital,wght@1,100&family=Road+Rage&family=Send+Flowers&family=Square+Peg&display=swap');

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  color: #a2a2a2;
}

#root {
  display: flex;
  width: 100vw;
  height: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
